@charset "utf-8";
*{
  padding:0;
  margin:0;
}
a:hover{
  text-decoration: none;
  color:#FFCA00;
}
.dangqian{
  margin-top:2%;
}
.row{
  width:100%;
}
.row p{
  font-size:16px;
}
.container{
  margin-top:3%;
  margin-left:5%;
  width:90%;
  margin-left:5%;
}
.table-bordered thead tr{
  height:50px!important;
}
.table-bordered tbody tr{
  height:40px!important;
}
.table-bordered{
  width:100%;
}

.table-bordered input{
  width:80%;
  height:32px;
  border-radius: 0px;
  -moz-box-shadow: inset 1px 1px 1px #C4C4C4;
  box-shadow: inset 1px 1px 1px #C4C4C4;
  -webkit-box-shadow:inset 1px 1px 1px #C4C4C4;
}
.container select{
  width:90%;
  height:32px;
  border-radius: 0px;
}
.btn{
  margin-left:20%;
  background:#4C9ED9!important;
  color:white!important;
}
/* CSS Document */

