@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
#beijing{

	background-image:url(../images/huanying.png);
	height:680px;
	width:100%;
}
.row{
	width:82%;
}
.row .one{
	font-size:46px;
	color:white;
	margin-top: 200px;
}
.row .two{
	font-size:30px;
	color:white;
}