@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
	background-image:url(../images/%E8%83%8C%E6%99%AF%E5%9B%BE%E7%89%87.jpg);
	height:0px;
}
.container{
	width:100%;
	margin-top:2%;
	height:0px;
}


