@charset "utf-8";
/* CSS Document */
*{
padding:0;
margin:0;
}
.container{
  width:100%;
}
.row p{
  margin-top:30px;
}
a:hover{
  text-decoration: none;
  color:#FFCA00;
}
.table-responsive{
	width:90%;
	margin:0 auto;
	margin-top: 25px;
}
.table-responsive a{
	text-decoration: none;
}
.row .col-lg-11{
	margin-left:4%;
	margin-top: -30px;
}
.row  .xixnxi{
	margin-left:4%;
	margin-top:5%;
}
.pagination{
	margin-left:-3%;
}