@charset "utf-8";
/* CSS Document */
*{
padding:0;
margin:0;
}
.container{
  width:100%;
}
.row p{
  margin-top:30px;
}
.row a:hover{
  text-decoration: none;
  color:#FFCA00;
}
.table-responsive{
	width:70%;
	margin:0 auto;
}
.row .col-lg-8{
	margin-left: 24%;
}
.row .col-lg-9{
	margin-left: 24%;
	margin-top: -30px;
}

.row  .xixnxi{
	margin-left:4%;
	margin-top:5%;
}
.pagination{
	margin-left:-3%;
}