@charset "utf-8";
*{
	margin:0;
	padding:0;
}
a:hover{
  text-decoration: none;
  color:#FFCA00;
}
.row{
  width:100%;
}
.row p{
  font-size:16px;
}
.container{
  margin-top:3%;
}
.add{
  width:80%;
  margin-left:10%;
  margin-top:2%;
}
.add .col-md-3 p{
 margin-left:-18%;
}
/* CSS Document */

