@charset "utf-8";
/* CSS Document */
*{
  padding:0;
  margin:0;
}
.container{
  width:100%;
}
.row{
  width:100%;
}
.row a:hover{
  text-decoration: none;
  color:#FFCA00;
}
.form-control{
  margin-top:30px;
  width:120%;
}
.dangqian .row{
  margin-top:2%;
}
.row .btn{
  margin-top: 30px;
}
.col-lg-2 span{
  margin-top:17%;
  display: block;
}
.dropdown{
  margin-left:9%;
}
.table-responsive{
  width:80%;
  margin:0 auto;
  margin-top: 30px;
}