@charset "utf-8";
{
  padding:0;
  margin:0;
}
a:hover{
  text-decoration: none;
  color:#FFCA00;
}
.row{
  width:100%;
}
a:hover{
  text-decoration: none;
  color:#FFCA00;
}
.dangqian{
  margin-top:2%;
}
.container{
  width:100%;
/*   padding-left:10%;
  padding-right:10%; */
  margin-top:3%;
}
.footer{
  margin-left:40%;
  margin-top:8%;
}
.table-bordered{
  width:100%!important;
  margin-left:5%;
}
/* CSS Document */

